[Unit]
Description=Glean for interface %I
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
User=root
ExecStartPre=%%GLEANSH_PATH%%/glean.sh
ExecStart=/sbin/ifup %I
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
